.poke {
  display: flex;
  justify-content: space-between;
  background-color: rgb(91, 87, 87);
  color: antiquewhite;
  font-size: 20px;
  width: 20%;
  padding: 25px;
  margin: 10px auto;
  border-radius: 5px;
}
